name: Hello Flow

on: 
  workflow_dispatch:

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Hello World
        run: echo "Hello World!"
        
      - name: Biga valeu
        run: echo "Valeu - bye!"
